source https://www.nuget.org/api/v2
nuget dapper
nuget FSharp.Data
nuget fsharp.formatting
nuget fsunit
nuget Microsoft.ApplicationInsights
nuget microsoft.azure.webjobs
nuget microsoft.azure.webjobs.extensions
nuget nunit
nuget stackexchange.redis
nuget system.net.primitives
nuget twilio
nuget windowsazure.servicebus
nuget windowsazure.storage