source https://www.nuget.org/api/v2
nuget dapper
nuget dapperextensions
nuget FSharp.Data
nuget fsharp.formatting
nuget microsoft.azure.webjobs
nuget stronggrid
nuget system.net.primitives
nuget twilio
nuget windowsazure.servicebus
nuget windowsazure.storage